/* PRIMARY COLOR SCHEME */
body{
  background-color: #fedfbf;
  padding: 0px;
  margin: 0px 0px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
}
div.main{
  border:1px solid #fdcfaf;
  background-color: #d88f6e;
  text-align: left;
  width: 750px;
  text-align:left; 
  min-width: 475px;margin-left:auto; 
  margin-top:0px;
  margin-right:auto; 
}
div.main div.footer{
  background-color: #c87f5e;
  padding: 5px 5px;
  text-align: right;
  font-family: inherit;
  font-size: 12px;
  color: #fedfbf;
  clear: both;
}
div.main div.header2{
  background-color: #c87f5e;
  padding: 5px 5px;
  text-align: left;
  font-family: inherit;
  font-size: 12px;
  color: #fedfbf;
  clear: both;
  margin-bottom: 10px;
}
div.main div.header{
  background-color: #a65d3c;
  padding: 5px 5px;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  color: #fedfbf;
  clear: both;
  display: block;
}
div.subheader div.moretitle{
  float: left;
  font-size: 10px;
  /*font-weight: bold;*/
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #843b1a;
  padding-left: 10px;
}
div.body{
  clear: both;
  border-top-style: dotted;
  border-top-width: 1px;
  border-top-color: #843b1a;
  padding-top: 10px;
}
input.search{
  width: 75px;
  border-style: inset;
  border-color: #111111;
  border-width: 1px;
  background-color: #c0c0c0;
  padding: 2px;
}
input.searchgo{
  width: 25px;
  border-style: outset;
  border-color: #111111;
  border-width: 1px;
  background-color: #c0c0c0;
  padding: 2px;
}


/* HEADER LINKS */
div.main div.header a{
  color: #fedfbf;
  text-decoration: none;
}
div.main div.header a:visited{
  color: #fedfbf;
}
div.main div.header a:hover{
  text-decoration: underline;
  color: #fedfbf;
}
div.main div.header a:active{
  color: #fedfbf;
}





/* SECONDARY COLORS */
div.main div.subheader{
  padding: 5px 15px;
  text-align: left;
  font-family: inherit;
  font-size: 16px;
  color: #95322B;
  clear: both;
  display: block;
}
div.header2 a{
  color: #fedfbf;
}
div.main div.menu{
  float: right;
  width: 150px;
  margin-left: 15px;
  margin-top: 1px;
  clear: right;
  background-color: #a65d3c;
  padding: 10px;
  margin-right: 5px;
}
div.thumbnail img{
  border-style: solid;
  border-width: 1px;
  border-color: #fedfbf;
  margin: 5px 25px;
  /*height: 100px;
  width: 75px;*/
  text-align: center;
  display: block;
  text-align:left; 
  margin-left:auto; 
  margin-top:0px;
  margin-right:auto; 
}
div.content{
  width: 550px;
  float: left;
  color: #fedfbf;
}
div.painting img{
  border-style: solid;
  border-color: #fedfbf;
  border-width: 1px;
  display: block;
  text-align:left; 
  margin: 0px auto; 
}
div.painting h1{
  font-size: 14px;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  margin: 10px 0px;
  color: #fedfbf;
}
div.painting p{
  text-align: center;
  font-size: 12px;
  color: #fedfbf;
}
div.menu a, div.content a{
  /*color: #111111;*/
  color: #fedfbf;
  text-decoration: none;
}
div.menu a:visited, div.content  a:visited{
  /*color: #111111;*/
  color: #fedfbf;
}
div.menu a:hover, div.content  a:hover{
  text-decoration: underline;
  /*color: #111111;*/
  color: #fedfbf;
}
div.menu a:active, div.content  a:active{
  /*color: #111111;*/
  color: #fedfbf;
}
img.misc{
  border-style: solid;
  border-color: #fedfbf;
  border-width: 1px;
  display: block;
  text-align:left; 
  margin: 0px auto; 
}
div.menu h1{
  color: #fedfbf;
}
a.back{
  font-size: 18px;
  font-weight: bold;
  color: #fedfbf;
}








/* NOT COLOR RELATED */

div.main h2{
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  /*margin: 0px;*/
  margin-left: 35px;
  padding: 0px;
}
h1,h2,h3,h4,h5,h6{
  clear: left;
  display: block;
}
div.main p{
  font-size: 14px;
  line-height: 150%;
  margin: 10px;
}
div.main div.header ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
div.main div.header li{
  display: inline;
  margin: 0px 5px;
}

div.subheader div.title{
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 5px;
}
div.subheader div.right{
  float: right;
  font-size: 10px;
}

div.main div.menu ul{
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}
div.main div.menu li{
  margin: 5px 0px;
  font-size: 12px;
}
div.main div.menu h1{
  font-size: 18px;
  font-family: inherit;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
div.gallery{
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
}

div.thumbnail{
  float: left;
  /*height: 225px;*/
  width: 150px;
  margin: 10px 10px;
  /*border: medium solid #000000;*/
  text-align: center;
}

div.thumbnail p{
  text-align: center;
  margin: 0px;
  font-size: 12px;
  font-family: inherit;
  display: block;
}
h1{
  clear: left;
  padding: 0px;
  margin: 0px 25px;
}
div.painting{
  width: 100%;
}


.musicdownload{
  text-align: left;
  margin-left: 10px;
}
